{% extends 'base_2.html' %}
{% load staticfiles %}
{% block title %}
	Applied Science
{% endblock %}
{% block main_content %}
	<div class="ui research stackable segment">
	<center>
		<div class="text container">
			<div class="ui horizontal section divider" style="width:83%;"><h1>Research</h1></div>
		</div>
	</center>
	<br>

	<div class="ui container">
				<div class="ui relaxed divided items">
					{% for paper in research_paper %}
					<div class="item">
						<div class="ui small image">
							<img src="{% static 'img/avatar/tom.jpg' %}" alt="">
						</div>
						<div class="content">
							<a class="ui header" href="{% url 'main:applied_science_detail' pk=paper.pk %}">{{ paper.title }}</a>
							<div class="meta">
								<p>
									{% for proponent in paper.proponents.all %}
		                {{ proponent.first_name|slice:"1"}}.{{ proponent.middle_name|slice:"1"}}. {{ proponent.last_name }},
		              {% empty %}
		                No Proponents
		              {% endfor %}
								</p>
								<p>Published on {{ paper.published_date|date:"d M, Y"}}</p>
							</div>
							<div class="description">
								{{ paper.abstract|truncatechars:200 }}
							</div>
							<div class="extra">
								<div class="ui label blue">
									Applied / Physical
								</div>
								<a class="ui right floated orange button" href="{% url 'main:applied_science_detail' pk=paper.pk %}">
                  Details
                  <i class="ui right arrow icon"></i>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
    </div>
</div>
{% endblock %}
