{% extends 'base_2.html' %}
{% block title %}
  News
{% endblock %}

{% block news %}
  active
{% endblock %}

{% block main_content %}
	<div class="news">
	<center>
		<div class="text container">
			<div class="ui horizontal section divider" style="width:83%;"><h1>News</h1></div>
		</div>
	</center>
	<br>
	<div class="ui container">
		<div class="ui relaxed divided items">
      {% if news %}
  			{% for news in news %}
        <div class="item">
          <div class="ui small image">
            <img src="{{ news.headline_image.url }}" alt="">
          </div>
          <div class="content">
            <a href="{% url 'main:news_detail' pk=news.pk %}" class="header">{{ news.headline|safe }}</a>
            <div class="description">
              {{ news.lead_text }}
            </div>
            <div class="meta">
              <p>
                Published {{ news.published_date|date:"M d, Y" }} by
                {% if news.author %}
                {{ news.author }} {% if news.author_additional_info %}-{{ news.author_additional_info }} {% endif %}
                {% else %}
                Anonymous
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="ui item">
          <h1 class="warning">No news yet</h1>
        </div>
      {% endif %}

		</div>
		<br><br>
	</div>
	</div>
{% endblock %}
