<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Dashboard
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/semantic.css' %}">
    <!--
    <link rel="stylesheet" href="{% static 'medium-editor/css/medium-editor.css' %}">
    <link rel="stylesheet" href="{% static 'medium-editor/css/themes/defaul.css' %}">
    -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="ui container">
      <div class="ui secondary pointing menu">
        <a href="{% url 'staff:index' %}" class="header item">Dashboard</a>
        <div class="right item">
          <a href="{% url 'staff:announcements' %}" class="{% block announcement%} {%endblock%}item">Announcements</a>
          <a href="{% url 'staff:albums' %}" class="{% block album %} {%endblock%}item">Albums</a>
          <a href="{% url 'staff:news' %}" class="{% block news %} {%endblock%}item">News</a>
          <a href="{% url 'staff:organizations' %}" class="{% block organization %} {% endblock %}item">Organizations</a>
          <a href="{% url 'staff:research' %}" class="{% block research %} {%endblock%}item">Research</a>
          {% if user.is_authenticated %}
          <a href="{% url 'admin:index' %}" class="ui item">Admin</a>
          <a href="{% url 'staff:logout' %}" class="item">Logout</a>
          {% else %}
          <a href="{% url 'staff:login' %}" class="item">Login</a>
          {% endif %}
          <!-- <a href="{% url 'staff:announcements' %}" class="item">Announcemnts</a> -->
          <!-- <a href="{% url 'staff:announcements' %}" class="item">Announcemnts</a> -->
        </div>
      </div>
      {% block main_content %}

      {% endblock %}
    </div>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'dist/semantic.js'%}"></script>
    <script type="text/javascript" src="{% static 'medium-editor/js/medium-editor.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript">
    var elements = document.querySelectorAll('.editable'),
    editor = new MediumEditor(elements);
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
