{% extends 'staff/base_staff.html'%}

{% block main_content %}

  <div class="ui container segment">
    <table class="ui table">
      <thead>
        <th>Object</th>
        <th>Hit count</th>
      </thead>
      <tbody>
        <td>
          Announcement
        </td>
        <td>
        </td>
      </tbody>
    </table>
  </div>
{% if files %}
  {% for file in files %}
    <a href="{{ file.file.url }}">{{ file.file }}</a>
    <h1>{{ file.url }}</h1>
  {% endfor %}
{% else %}
<h1>Error</h1>
{% endif %}
{% endblock %}
