<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/>
  <meta name="description" content="Quezon Science High School"/>
  <meta name="author" content="Quezon Science High School"/>
  <meta name="keywords" content="quezon,science,honor,excellence,service"/>
	<title>
		{% block title %}

		{% endblock %}
	</title>


	<link rel="stylesheet" href="{% static 'dist/semantic.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<style>
		{% block style %}
		{% endblock %}
	</style>
	{% block linkstyle %}
	{% endblock %}
</head>
<body>

	<!-- Hidden Sidebar Menu -->
	<div class="ui vertical sidebar inverted menu">
			<div class="item">
					<a href="{% url 'main:index' %}">
							<i class="home icon"></i> Home
					</a>
			</div>
			<div class="item">
					<a href="{% url 'main:admissions' %}">
							<i class="heartbeat icon"></i> Admissions
					</a>
			</div>
			<div class="item">
					<a href="{% url 'main:news' %}">
							<i class="newspaper icon"></i> News
					</a>
			</div>
			<div class="item">
					<div class="ui accordion">
							<div class="ui inverted title">
									<i class="ui dropdown icon"></i> Archives
							</div>
							<div class="content">
									<a class="item" href="#">
											<i class="file pdf icon"></i> Documents
									</a>
									<a class="item" href="{% url 'album:albums' %}">
											<i class="images icon"></i> Album
									</a>
							</div>
					</div>
			</div>
			<div class="item">
					<a href="{% url 'main:organizations' %}">
							<i class="users icon"></i> Organizations
					</a>
			</div>
			<div class="item">
					<div class="ui accordion">
							<div class="ui inverted title">
									<i class="ui dropdown icon"></i> Research
							</div>
							<div class="content">
									<a class="item" href="{% url 'main:applied_science' %}">
							Applied Science
						</a>
									<a class="item" href="{% url 'main:life_science' %}">
							Life Science
						</a>
							</div>
					</div>
			</div>
			<div class="item">
					<a href="{% url 'main:about' %}">
							<i class="universal access icon"></i> About
					</a>
			</div>
			<div class="item">
					<a href="{% url 'main:faqs' %}">
							<i class="help circle icon"></i> FAQs
					</a>
			</div>
	</div>

	<!--Folowing Menu -->
	<div class="ui top fixed primary inverted menu">
			<div class="ui container">
					<a class="toc item">
							<i class="sidebar icon"></i>
							Menu
					</a>
					<a class="header right item" href="{% url 'main:index' %}">
							<img class="logo" src="{% static 'img/logo.png' %}" alt=""> QSHS
					</a>
			</div>
	</div>

		<!-- Page Contents -->

			<div class="ui large top main menu" id="def-navbar">
				<div class="ui container">
					<a class="header item" href="{% url 'main:index' %}"><img class="logo" src="{% static 'img/logo.png' %}">QSHS</a>
					<div class="ui right item">
							<a class="{% block admission %} {%endblock%}item" href="{% url 'main:admissions' %}">Admissions</a>
							<a class="{% block news %} {%endblock%}item" href="{% url 'main:news' %}">News</a>

							<div class="ui dropdown {% block archives %} {% endblock %}item">
								Archives
								<i class="ui dropdown icon"></i>
								<div class="menu">
									<a class="{% block archive_documents %} {% endblock %}item" href="#">Documents</a>
									<div class="ui divider"></div>
									<a class="{% block album %} {% endblock %}item" href="{% url 'album:albums' %}">Album</a>
								</div>
							</div>
						<a class="{% block org %} {% endblock %} item" href="{% url 'main:organizations' %}">Organizations</a>
							<div class="ui dropdown {% block research %} {%endblock%}item">
								Research
								<i class="ui dropdown icon"></i>
								<div class="menu">
									<a class="{% block research_applied %} {%endblock%}item" href="{% url 'main:applied_science' %}">Applied Science</a>
									<div class="ui divider"></div>
									<a class="{% block research_life %} {% endblock %}item" href="{% url 'main:life_science' %}">Life Science</a>
								</div>
							</div>

							<a class="{% block about %} {% endblock %} item" href="{% url 'main:about' %}">About</a>
							<a class="{% block faq %} {% endblock %} item" href="{% url 'main:faqs' %}">FAQs</a>
							{% if user.is_authenticated %}
							<a href="{% url 'admin:index' %}" class="ui item">Admin</a>
							<a href="{% url 'staff:index' %}" class="item">Faculty/Staff</a>
							<a href="{% url 'staff:logout' %}" class="item">Logout</a>
							{% else %}
							<a href="{% url 'staff:login' %}" class="item">Faculty/Staff</a>
							{% endif %}
					</div>
				</div>
			</div>

				{% block main_content %}

				{% endblock %}


			{% include 'main/footer.html' %}
		<script src="{% static 'js/jquery.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'dist/semantic.js'%}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript">
			$('.upper-bound-list').css('color', 'white');
		</script>
		{% block javascript %}
		{% endblock %}

</body>
</html>
